@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0dcdc;
  font-family: monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-transform: uppercase;
  color: #252525;
}


.typing-demo {
  width: 29ch;
  animation: typing 3s steps(29) infinite alternate, blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;

  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

#landing {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#campo {
  margin: 30px;
  display: inline-flex;
  flex-direction: row;
}

#repositorios {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

#floatingInput {
  height: 60px;
  width: 300px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

}
button {
  height: 60px;
  width: 100px;
  border: 1px solid #FFFFFF;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #252525;
  color: white;
}

button:hover {
  animation-name: btnhover;
  animation-fill-mode: forwards;
  animation-duration: 200ms;
}

@keyframes btnhover {
  100% {
    background-color: rgb(92, 92, 92);
  }
}

li {
  width: 500px;
  background-color: #FFF;
  height: 60px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  text-transform: capitalize;
}

#box-repo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 800px;
  overflow-y: scroll;
  width: 700px;
}

#box-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 800px;
}

.link-btn {
  margin-top: 10px;
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0px;
  color: #e0dcdc;
}

#footer-link {
  color: #e0dcdc;
  text-decoration: none;
  width: fit-content;
  padding: 0px 15px;
}

#footer-link:hover {
  color: #e0dcdc;
}

img {
  height: 30px;
}





