@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #252525;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  padding: 30px;
  text-transform: uppercase;
  color: #FFF;
}

#landing {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#campo {
  display: inline-flex;
  flex-direction: row;
}

#repositorios {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

#floatingInput {
  height: 60px;
  width: 300px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

}
button {
  height: 60px;
  width: 100px;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

button:hover {
  animation-name: btnhover;
  animation-fill-mode: forwards;
  animation-duration: 200ms;
}

@keyframes btnhover {
  100% {
    background-color: rgb(187, 187, 187);
  }
}

li {
  width: 600px;
  background-color: #FFF;
  height: 50px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px;
}

#box-repo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 80vh;
  overflow-y: scroll;
  width: 700px;
}





